<!--Footer-->
<footer id="landing-footer" class="clearfix">
	<div class="row clearfix">
		<p id="copyright" class="col-2">Copyright © 2021 <a href="https://www.ncl.ac.uk/">Newcastle University</a> - All rights reserved | <a href="{{ site.baseurl }}{% link privacy.md %}">Privacy</a></p>
		<!--Social Icons in Footer-->
		<ul class="col-2 social-icons">
			<li>
				<a target="_blank" title="Twitter" href="https://www.twitter.com/fintrustr">
					<i class="fab fa-twitter fa-1x"></i><span>Twitter</span>
				</a>
			</li>
		</ul>
		<!--End of Social Icons in Footer-->
	</div>
</footer>
<!--End of Footer-->
