<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
    <div id="header" class="nav-collapse">
        <div class="row clearfix">
            <div class="col-1">
                <!--Logo-->
                <a href="{{ site.baseurl }}{% link index.markdown %}">
                    <div id="logo">
                        <!--Logo that is shown on the banner-->
                        <img src="{{ "/assets/images/logo.png" | relative_url }}" id="banner-logo" alt="Landing Page"/>
                        <!--End of Banner Logo-->
                        <!--The Logo that is shown on the sticky Navigation Bar-->
                        <img src="{{ "/assets/images/logo-2.png" | relative_url }}" id="navigation-logo" alt="Landing Page"/>
                        <!--End of Navigation Logo-->
                    </div>
                </a>
                <!--End of Logo-->
                <aside>
                    <!--Social Icons in Header-->
                    <ul class="social-icons">
                        <li>
                            <a target="_blank" title="Twitter" href="https://www.twitter.com/fintrustr">
                                <i class="fab fa-twitter fa-1x"></i><span>Twitter</span>
                            </a>
                        </li>
                    </ul>
                    <!--End of Social Icons in Header-->
                </aside>
                <!--Main Navigation-->
                <nav id="nav-main">
                    <ul>
                        <li>
                            <a href="{{ site.baseurl }}{% link index.markdown %}#research">Research</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}{% link articles.markdown %}">Articles</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}{% link index.markdown %}#gallery">Videos</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}{% link index.markdown %}#team">Team</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}{% link index.markdown %}#partners">Partners</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}{% link contact.markdown %}">Contact</a>
                        </li>
                    </ul>
                </nav>
                <!--End of Main Navigation-->
                <div id="nav-trigger"><span></span></div>
                <nav id="nav-mobile"></nav>
            </div>
        </div>
    </div>
    <!--End of Header-->
    {% if page.layout == "home" %}
    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">
        <div class="col-38">
            <div class="section-heading">
                <h1>RESEARCHING TRUST IN FINTECH</h1>
                <h2>Leading experts are embarking on a major new project to explore how to regain the public's trust in digital technology.</h2>
            </div>
            <!--Call to Action-->
            <a href="#research" class="button">RESEARCH AIMS</a>
            <!--End Call to Action-->
        </div>
    </div>
    <!--End of Banner Content-->
    {% else %}
    {% endif %}
</header>