---
layout: default
---
<section id="contact" class="clearfix">
    <div class="row">
        <div class="col-1">
            <div class="section-heading">
                <h3>CONTACT US</h3>
                <h2 class="section-title">Get In Touch</h2>
            </div>
            <!--Icon Block Description-->
            <div class="icon-block-description">
                <p class="section-subtitle">
                    <i class="fa fa-envelope"></i> You can email the team on
                    <!-- Spans of class email are converted to links using JS for anti-spambot protection -->
                    <span class="email">
                            <span class="email-address">fintrust</span>
                            <span class="email-separator">[at]</span>
                            <span class="email-domain">newcastle.ac.uk</span>.
                        </span>
                    We'd love to hear from you.
                </p>
                <p>Alternatively, complete our contact form below:</p>
            </div>
            <!--End of Icon Block-->
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <iframe id="contactGoogleForm"
                    src="https://docs.google.com/forms/d/e/1FAIpQLScRGpUC_HuoIrQY70JueFEkwwMNuJYOhHHybdi_rPqzfJdpZQ/viewform?embedded=true"
                    width="100%" min-height="100vh" height="1000px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <div>{{ content }}</div>
        </div>
    </div>
</section>