---
layout: default
---
<section id="contact" class="clearfix">
    <div class="row">
        <div class="col-1">
            <div class="section-heading">
                <h3>CONTACT US</h3>
                <h2 class="section-title">Get In Touch</h2>
            </div>
            <!--Icon Block Description-->
            <div class="icon-block-description">
                <p class="section-subtitle">
                    <i class="fa fa-envelope"></i> You can email the team on
                    <!-- Spans of class email are converted to links using JS for anti-spambot protection -->
                    <span class="email">
                            <span class="email-address">fintrust</span>
                            <span class="email-separator">[at]</span>
                            <span class="email-domain">newcastle.ac.uk</span>.
                        </span>
                    We'd love to hear from you.
                </p>
                <p>Alternatively, complete our contact form below:</p>
            </div>
            <!--End of Icon Block-->
        </div>
    </div>
    <div class="row clearfix no-padding-bottom">
        <div class="col-4"></div>
        <div class="col-2">
            <form id="fs-frm" class="contact-form" name="contact-form" accept-charset="utf-8" action="https://formspree.io/f/mzboeade" method="post">
                <fieldset id="fs-frm-inputs">
                    <label for="full-name">Full Name</label>
                    <input type="text" name="name" id="full-name" placeholder="First and Last" required="">
                    <label for="email-address">Email Address</label>
                    <input type="email" name="_replyto" id="email-address" placeholder="email@domain.tld" required="">
                    <label for="message">Message</label>
                    <textarea rows="5" name="message" id="message" placeholder="Type your message here" required=""></textarea>
                    <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
                </fieldset>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div class="row clearfix no-padding-top">
        <div class="col-1">
            <div>{{ content }}</div>
        </div>
    </div>
</section>