---
layout: default
---
<!--Main Content Area-->
<main id="content">
    <!--Introduction-->
    <section id="research" class="introduction scrollto">
        <div class="row clearfix">
            <div class="col-3">
                <div class="section-heading">
                    <h3>RESEARCH</h3>
                    <h2 class="section-title">FinTrust explores the role of machine learning in banking</h2>
                    <p class="section-subtitle">The FinTrust project will look at the role of machine learning in banking,
                        particularly in the context of automated lending decisions and whether these lead to bias and financial exclusion.</p>
                </div>
            </div>
            <div class="col-2-3">
                <div class="row clearfix no-padding-bottom no-padding-top">
                    <!--Icon Block-->
                    <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-shield-alt fa-2x"></i>
                        </div>
                        <!--Icon Block Description-->
                        <div class="icon-block-description">
                            <h4>Trustworthiness</h4>
                            <p>Are the technologies behind AI-based services worthy of our trust? We invent new technologies, research how people use these and assess the risk of using these technologies.</p>
                        </div>
                    </div>
                    <!--End of Icon Block-->
                    <!--Icon Block-->
                    <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-balance-scale-right fa-2x"></i>
                        </div>
                        <!--Icon Block Description-->
                        <div class="icon-block-description">
                            <h4>Fairness & Bias</h4>
                            <p>For people to trust in AI-based services, they must be demonstrably fair. How can we demonstrate such fairness, without opening up the full data set. Our concept of FaaS, Fairness as a Service, takes major strides in that direction.</p>
                        </div>
                    </div>
                    <!--End of Icon Block-->
                </div>
                <div class="row no-padding-top">
                    <!--Icon Block-->
                    <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-ban fa-2x"></i>
                        </div>
                        <!--Icon Block Description-->
                        <div class="icon-block-description">
                            <h4>Financial Exclusion</h4>
                            <p>A major concern for the FinTrust team members is to assure that everyone can benefit from new financial services. We have built a prototype for vulnerable customers to use selective disclosure through verified credentials.</p>
                        </div>
                    </div>
                    <!--End of Icon Block-->
                    <!--Icon Block-->
                    <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-hands-helping fa-2x"></i>
                        </div>
                        <!--Icon Block Description-->
                        <div class="icon-block-description">
                            <h4>Trust Engineering Toolkit</h4>
                            <p>You can make use of all our research results, be it position papers, software or academic articles. The FinTrust Trust Engineering Toolkit will be curated from our project findings to make these accessible to business and industry stakeholders.</p>
                        </div>
                    </div>
                    <!--End of Icon Block-->
                    <!--Icon Block-->
                    <div class="col-1 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-business-time fa-2x"></i>
                        </div>
                        <!--Icon Block Description-->
                        <div class="icon-block-description">
                            <h4>Corporate Digital Responsibility</h4>
                            <p>CDR is a fusion of ethical considerations at the individual and societal level, with recognition that technological change can spawn both utopian and dystopian futures. CDR seeks to find the balance, and guide our progress toward a technological landscape that works for us all.</p>
                        </div>
                    </div>
                    <!--End of Icon Block-->
                </div>
            </div>
        </div>
    </section>
    <!--End of Introduction-->

    <!--Gallery-->
    <div id="gallery">
        <div class="row clearfix text-center">
            <div class="section-heading">
                <h3>FINTRUST MEDIA</h3>
                <h2 class="section-title">Videos</h2>
            </div>
            <aside class="row text-center scrollto clearfix">
                <a href="https://www.youtube.com/watch?v=YQsjC9HUhE8" class="col-3 wow fadeIn video" data-lity>
                    <img src="{{ "/assets/images/gallery-images/YQsjC9HUhE8.webp" | relative_url }}" alt="To trust or not to trust?"/></a>
                <a href="https://www.youtube.com/watch?v=eSagnUeJpo4" class="col-3 wow fadeIn video" data-lity>
                    <img src="{{ "/assets/images/gallery-images/eSagnUeJpo4.webp" | relative_url }}" alt="Dynamo 20: FinTrust: A discussion of tech, social & ethical approaches to establish trust in FinTech"/></a>
                <a href="https://www.youtube.com/watch?v=E9tlnfXeO4A" class="col-3 wow fadeIn video" data-lity>
                    <img src="{{ "/assets/images/gallery-images/E9tlnfXeO4A.webp" | relative_url }}" alt="ESORICS 2020 – DETIPS – Keeping It Human – Dr Mhairi Aitken et al"/></a>
                <a href="https://www.youtube.com/watch?v=b7d2ByPoxQs" class="col-3 wow fadeIn video" data-lity>
                    <img src="{{ "/assets/images/gallery-images/b7d2ByPoxQs.webp" | relative_url }}" alt="SORSE - Goodbot, Badbot? Engineering trust into conversational interfaces"/></a>
                <a href="https://www.youtube.com/watch?v=XLQWjmkFmus" class="col-3 wow fadeIn video" data-lity>
                    <img src="{{ "/assets/images/gallery-images/XLQWjmkFmus.webp" | relative_url }}" alt="will.i.am: Atom Bank, FinTrust, and Financial Inclusion"/></a>
                <a href="https://www.youtube.com/watch?v=ZhqPs80yK8k" class="col-3 wow fadeIn video" data-lity>
                    <img src="{{ "/assets/images/gallery-images/ZhqPs80yK8k.webp" | relative_url }}" alt="We need to talk about Alexa"/></a> 
            </aside>
        </div>             
    </div>
    <!--End of Gallery-->

    <!--Content Section-->
    <div id="highlight" class="scrollto clearfix">
        <div class="row no-padding-bottom clearfix">
            {% assign sortedPosts = site.posts | sort: 'date' | reverse %}
            {% for post in sortedPosts limit:1 %}
            <!--Content Left Side-->
            <div class="col-3">
                <!--User Testimonial-->
                <blockquote class="testimonial text-right bigtest">
                    <q>{{ post.quote }}</q>
                    <footer>— {{ post.source }}</footer>
                </blockquote>
                <!-- End of Testimonial-->
            </div>
            <!--End Content Left Side-->
            <!--Content of the Right Side-->
            <div class="col-3">
                <div class="section-heading">
                    <h3>PUBLICATION HIGHLIGHT</h3>
                    <h2 class="section-title">{{ post.title }}</h2>
                    <p class="section-subtitle">{{ post.subtitle }}</p>
                </div>
                {{ post.content }}
                <a href="{{ post.url }}" class="button">
                    READ MORE
                </a>
            </div>
            <!--End Content Right Side-->
            <div class="col-3 hide-on-mobile">
                <img src="{{ "/assets/images/feature.webp" | relative_url }}" alt="Featured article"/>
            </div>
            {% endfor %}
        </div>
    </div>
    <!--End of Content Section-->

    <!--Team-->
    <aside id="team" class="scrollto text-center" data-enllax-ratio=".2">
        <div class="row clearfix">
            <div class="section-heading">
                <h3>OUR PEOPLE</h3>
                <h2 class="section-title">The FinTrust Team</h2>
            </div>
            <div class="row clearfix">
                <blockquote class="col-3 testimonial classic">
                    <a href="{% link _team/aad-van-moorsel.markdown %}"><img src="{{ "/assets/images/user-images/aad-van-moorsel.webp" | relative_url }}" alt="Aad Van Moorsel"/></a>
                    <q>I've always been fascinated to truly understand system characteristics as complex as trust.</q>
                    <a href="{% link _team/aad-van-moorsel.markdown %}">
                        <footer>
                            <span class="team-role">Principal Investigator</span>
                            Aad van Moorsel
                        </footer>
                    </a>
                </blockquote>

                <blockquote class="col-3 testimonial classic">
                    <a href="{% link _team/kovila-coopamootoo.markdown %}"><img src="{{ "/assets/images/user-images/kovila-coopamootoo.webp" | relative_url }}" alt="Kovila Coopamootoo"/></a>
                     <q>I am passionate about understanding diverse user experiences and developing technologies that provide equal opportunities.</q>
                    <a href="{% link _team/kovila-coopamootoo.markdown %}">
                        <footer>
                            <span class="team-role">Co-Investigator</span>
                            Kovila Coopamootoo
                        </footer>
                    </a>                     
                </blockquote>

                <blockquote class="col-3 testimonial classic">
                    <a href="{% link _team/karen-elliott.markdown %}"><img src="{{ "/assets/images/user-images/karen-elliot.webp" | relative_url }}" alt="Karen Elliot"/></a>
                    <q>I view society as a complex adaptive system and work to facilitate an equitable digital society in exploring trust and trustworthy technologies.</q>
                    <a href="{% link _team/karen-elliott.markdown %}">
                        <footer>
                            <span class="team-role">Co-Investigator, Senior Lecturer (FinTech)</span>
                            Karen Elliott
                        </footer>
                    </a>               
                </blockquote>

                <blockquote class="col-3 testimonial classic">
                    <a href="https://rse.ncldata.dev/samantha-finnigan"><img src="{{ "/assets/images/user-images/samantha-finnigan.webp" | relative_url }}" alt="Samantha Finnigan"/></a>
                    <q>I create software prototypes for research to understand trust in FinTech.</q>
                    <a href="https://rse.ncldata.dev/samantha-finnigan">
                        <footer>
                            <span class="team-role">Research Software Engineer</span>
                            Samantha Finnigan
                        </footer>
                    </a>
                </blockquote>

                <blockquote class="col-3 testimonial classic">
                    <a href="{% link _team/zhichao-ma.markdown %}"><img src="{{ "/assets/images/user-images/zhichao-ma.webp" | relative_url }}" alt="Zhichao Ma"/></a>
                    <q>I am curious to explore the potentials that AI brings in the Financial industry.</q>
                    <a href="{% link _team/zhichao-ma.markdown %}">
                        <footer>
                            <span class="team-role">Research Associate</span>
                            Zhichao Ma
                        </footer>
                    </a>                      
                </blockquote>

                <blockquote class="col-3 testimonial classic">
                    <a href="{% link _team/tasos-spiliotopoulos.markdown %}"><img src="{{ "/assets/images/user-images/tasos-spiliotopoulos.webp" | relative_url }}" alt="Tasos Spiliotopoulos"/></a>
                    <q>A human-centric approach is key for the design of effective and socially responsible technological systems.</q>
                    <a href="{% link _team/tasos-spiliotopoulos.markdown %}">
                        <footer>
                            <span class="team-role">Research Associate</span>
                            Tasos Spiliotopoulos
                        </footer>
                    </a>     
                </blockquote>

                <!-- Centre last individual on line -->
                <div class="col-3 hide-on-mobile"></div>

                <blockquote class="col-3 testimonial classic">
                    <a href="{% link _team/han-wu.markdown %}"><img src="{{ "/assets/images/user-images/han-wu.webp" | relative_url }}" alt="Han Wu"/></a>
                    <q>I'm keen on understanding the risks we take when people place trust in AI technologies.</q>
                    <a href="{% link _team/han-wu.markdown %}">
                        <footer>
                            <span class="team-role">Research Associate</span>
                            Han Wu
                        </footer>
                    </a>
                </blockquote>

            </div>
        </div>
        <div class="section-heading">
            <h3>Team Alumni</h3>
        </div>
        <div class="row clearfix">
            <blockquote class="col-3 testimonial classic">
                <a href="https://www.turing.ac.uk/people/research-fellows/mhairi-aitken"><img src="{{ "/assets/images/user-images/mhairi-aitken.webp" | relative_url }}" alt="Mhairi Aitken"/></a>
                <a href="https://www.turing.ac.uk/people/research-fellows/mhairi-aitken">
                    <footer>
                        <span class="team-role">Ethics Research Fellow</span>
                        Mhairi Aitken
                    </footer>
                </a>  
            </blockquote>

            <blockquote class="col-3 testimonial classic">
                <a href="https://rse.ncldata.dev/dave-horsfall"><img src="{{ "/assets/images/user-images/dave-horsfall.webp" | relative_url }}" alt="Dave Horsfall"/></a>
                <a href="https://rse.ncldata.dev/dave-horsfall">
                    <footer>
                        <span class="team-role">Senior Research Software Engineer</span>
                        Dave Horsfall
                    </footer>
                </a>                    
            </blockquote>

            <blockquote class="col-3 testimonial classic">
                <a href="{% link _team/magdalene-ng.markdown %}"><img src="{{ "/assets/images/user-images/magdalene-ng.webp" | relative_url }}" alt="Magdalene Ng"/></a>
                <a href="{% link _team/magdalene-ng.markdown %}">
                    <footer>
                        <span class="team-role">Research Associate</span>
                        Magdalene Ng
                    </footer>
                </a>
            </blockquote>

            <div class="col-3 hide-on-mobile"></div>

            <blockquote class="col-3 testimonial classic">
                <a href="https://www.durham.ac.uk/staff/ehsan-toreini/"><img src="{{ "/assets/images/user-images/ehsan-toreini.webp" | relative_url }}" alt="Ehsan Toreini"/></a>
                <a href="https://www.durham.ac.uk/staff/ehsan-toreini/">
                    <footer>
                        <span class="team-role">Assistant Professor</span>
                        Ehsan Toreini
                    </footer>
                </a>   
            </blockquote>
        </div>        
    </aside>
    <!--End of Team-->

    <!--Partners-->
    <section id="partners" class="secondary-color scrollto clearfix">
        <div class="row clearfix">
            <div class="col-3">
                <div class="section-heading">
                    <h3>FUNDING</h3>
                    <h2 class="section-title">Relationships</h2>
                    <p class="section-subtitle">FinTrust is funded by several organisations, and we collaborate with strategic partners who share interests in the goals of the project.</p>
                </div>
            </div>
            <div class="col-2-3">
                <a href="{{ site.baseurl }}{% link partners/newcastle-university.md %}" class="col-3">
                    <img src="{{ "/assets/images/company-images/newcastle-university.webp" | relative_url }}" alt="Newcastle University"/>
                    <div class="partner-overlay"><span>Newcastle University</span></div>
                </a>
                <a href="{{ site.baseurl }}{% link partners/atom-bank.md %}" class="col-3">
                    <img src="{{ "/assets/images/company-images/atom-bank.webp" | relative_url }}" alt="Atom Bank"/>
                    <div class="partner-overlay"><span>Atom Bank</span></div>
                </a>
                <a href="{{ site.baseurl }}{% link partners/turing-institute.md %}" class="col-3">
                    <img src="{{ "/assets/images/company-images/turing-institute.webp" | relative_url }}" alt="The Alan Turing Institute"/>
                    <div class="partner-overlay"><span>The Alan Turing Institute</span></div>
                </a>
                <a href="{{ site.baseurl }}{% link partners/gates-foundation.md %}" class="col-3">
                    <img src="{{ "/assets/images/company-images/gates-foundation.webp" | relative_url }}" alt="Bill & Melinda Gates Foundation"/>
                    <div class="partner-overlay"><span>Bill & Melinda Gates Foundation</span></div>
                </a>
                <a href="{{ site.baseurl }}{% link partners/ukri.md %}" class="col-3">
                    <img src="{{ "/assets/images/company-images/ukri.webp" | relative_url }}" alt="UK Research and Innovation"/>
                    <div class="partner-overlay"><span>UK Research and Innovation</span></div>
                </a>
                <a href="{{ site.baseurl }}{% link partners/fintech.md %}" class="col-3">
                    <img src="{{ "/assets/images/company-images/fintech.webp" | relative_url }}" alt="Fintech National Network"/>
                    <div class="partner-overlay"><span>Fintech National Network</span></div>
                </a>
            </div>
        </div>
    </section>
    <!--End of Partners-->
</main>
<!--End Main Content Area-->
