---
layout: default
---
<!--Main Content Area-->
<main id="content">
    <!--Introduction-->
    <section id="research" class="introduction scrollto">

        <div class="row clearfix">

            <div class="col-3">
                <div class="section-heading">
                    <h3>RESEARCH</h3>
                    <h2 class="section-title">FinTrust explores the role of machine learning in banking</h2>
                    <p class="section-subtitle">FinTrust project that will look at the role of machine learning in banking, 
                        particularly in the context of automated lending decisions and whether these lead to bias and financial exclusion.</p>
                </div>

            </div>

            <div class="col-2-3">

                <!--Icon Block-->
                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                    <!--Icon-->
                    <div class="icon">
                        <i class="fa fa-shield-alt fa-2x"></i>
                    </div>
                    <!--Icon Block Description-->
                    <div class="icon-block-description">
                        <h4>Trustworthiness</h4>
                        <p>Has ne tritani atomorum conclusionemque, in dolorum volumus cotidieque eum. At vis choro
                            neglegentur iudico</p>
                    </div>
                </div>
                <!--End of Icon Block-->

                <!--Icon Block-->
                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                    <!--Icon-->
                    <div class="icon">
                        <i class="fa fa-balance-scale-right fa-2x"></i>
                    </div>
                    <!--Icon Block Description-->
                    <div class="icon-block-description">
                        <h4>Fairness & Bias</h4>
                        <p>Cu vero ipsum vim, doctus facilisi sea in. Eam ex falli honestatis repudiandae, sit
                            detracto mediocrem disputationi</p>
                    </div>
                </div>
                <!--End of Icon Block-->

                <!--Icon Block-->
                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                    <!--Icon-->
                    <div class="icon">
                        <i class="fa fa-ban fa-2x"></i>
                    </div>
                    <!--Icon Block Description-->
                    <div class="icon-block-description">
                        <h4>Financial Exclusion</h4>
                        <p>Id porro tritani recusabo usu, eum intellegam consequuntur et. Fugit debet ea sit, an pro
                            nemore vivendum</p>
                    </div>
                </div>
                <!--End of Icon Block-->

                <!--Icon Block-->
                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                    <!--Icon-->
                    <div class="icon">
                        <i class="fa fa-hands-helping fa-2x"></i>
                    </div>
                    <!--Icon Block Description-->
                    <div class="icon-block-description">
                        <h4>Ethics Toolkit</h4>
                        <p>Id porro tritani recusabo usu, eum intellegam consequuntur et. Fugit debet ea sit, an pro
                            nemore vivendum</p>
                    </div>
                </div>
                <!--End of Icon Block-->

            </div>

        </div>


    </section>
    <!--End of Introduction-->


    <!--Gallery-->
    <div id="gallery">
        <aside id="" class="row text-center scrollto clearfix" data-featherlight-gallery data-featherlight-filter="a">
            <a href="#" data-videoid="YQsjC9HUhE8" data-videosite="youtube" class="col-3 wow fadeIn video link-lightbox" data-featherlight="image" data-wow-delay="0.1s">
                <img src="{{ "/assets/images/gallery-images/YQsjC9HUhE8.jpg" | relative_url }}" alt="To trust or not to trust?"/></a>
            <a href="#" data-videoid="eSagnUeJpo4" data-videosite="youtube" class="col-3 wow fadeIn video link-lightbox" data-featherlight="image" data-wow-delay="0.1s">
                <img src="{{ "/assets/images/gallery-images/eSagnUeJpo4.jpg" | relative_url }}" alt="Dynamo 20: FinTrust: A discussion of tech, social & ethical approaches to establish trust in FinTech"/></a>
            <a href="#" data-videoid="E9tlnfXeO4A" data-videosite="youtube" class="col-3 wow fadeIn video link-lightbox" data-featherlight="image" data-wow-delay="0.1s">
                <img src="{{ "/assets/images/gallery-images/E9tlnfXeO4A.jpg" | relative_url }}" alt="ESORICS 2020 – DETIPS – Keeping It Human – Dr Mhairi Aitken et al"/></a>
            <a href="#" data-videoid="b7d2ByPoxQs" data-videosite="youtube" class="col-3 wow fadeIn video link-lightbox" data-featherlight="image" data-wow-delay="0.1s">
                <img src="{{ "/assets/images/gallery-images/b7d2ByPoxQs.jpg" | relative_url }}" alt="SORSE - Goodbot, Badbot? Engineering trust into conversational interfaces"/></a>
            <a href="#" data-videoid="XLQWjmkFmus" data-videosite="youtube" class="col-3 wow fadeIn video link-lightbox" data-featherlight="image" data-wow-delay="0.1s">
                <img src="{{ "/assets/images/gallery-images/XLQWjmkFmus.jpg" | relative_url }}" alt="will.i.am: Atom Bank, FinTrust, and Financial Inclusion"/></a>
            <a href="#" data-videoid="ZhqPs80yK8k" data-videosite="youtube" class="col-3 wow fadeIn video link-lightbox" data-featherlight="image" data-wow-delay="0.1s">
                <img src="{{ "/assets/images/gallery-images/ZhqPs80yK8k.jpg" | relative_url }}" alt="We need to talk about Alexa"/></a> 
          </aside>
    </div>
    <!--End of Gallery-->


    <!--Content Section-->
    <div id="highlight" class="scrollto clearfix">

        <div class="row no-padding-bottom clearfix">


            <!--Content Left Side-->
            <div class="col-3">
                <!--User Testimonial-->
                <blockquote class="testimonial text-right bigtest">
                    <q>The third wave recognises that the ethical and social challenges associated with data and AI 
                        are inextricably interwoven with broader, long-standing social, political and cultural factors</q>
                    <footer>— Dr Mhairi Aitken, Newcastle University</footer>
                </blockquote>
                <!-- End of Testimonial-->

            </div>
            <!--End Content Left Side-->

            <!--Content of the Right Side-->
            <div class="col-3">
                <div class="section-heading">
                    <h3>PUBLICATION HIGHLIGHT</h3>
                    <h2 class="section-title">Simulating the Effects of Social Presence on Trust</h2>
                    <p class="section-subtitle">In the past decade, the financial industry has experienced a technology revolution. While we witness a rapid progression towards a cashless society and 
                        financial services that rely on socio-and-emotionally intelligent bots.</p>
                </div>
                <p> We investigated features linked to bot trust, categorizing the top traits expected from a financial chatbot before consumers place trust 
                    in them. Primarily, data security mattered to a large extent in the context of financial services, whether or not socio-emotional features were present. 
                </p>
                <p>
                    Accuracy of bot messages and its conversational style were important features, whereas bot name, how the bot sounds and whether it resembles a human in 
                    appearance appeared to be inconsequential. Our results imply that task-oriented financial bots are preferred.
                </p>
                <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
                <a href="{% link _posts/2020-06-13-simulating-the-effects-of-social-presence-on-trust.markdown %}" class="button">
                    READ MORE&nbsp;&nbsp;<i class="fa fa-play" aria-hidden="true"></i>
                </a>
            </div>
            <!--End Content Right Side-->

            <div class="col-3">
                <img src="{{ "/assets/images/dancer.jpg" | relative_url }}" alt="Publication"/>
            </div>

        </div>


    </div>
    <!--End of Content Section-->

    <!--Team-->
    <aside id="team" class="scrollto text-center" data-enllax-ratio=".2">

        <div class="row clearfix">

            <div class="section-heading">
                <h3>OUR PEOPLE</h3>
                <h2 class="section-title">The FinTrust Team</h2>
            </div>

            <!--User Testimonial-->
            <blockquote class="col-3 testimonial classic">
                <a href="{% link _team/aad-van-moorsel.markdown %}"><img src="{{ "/assets/images/user-images/aad-van-morsel.jpg" | relative_url }}" alt="Aad Van Moorsel"/></a>
                <q>I've always been fascinated to truly understand system characteristics as complex as trust.</q>
                <a href="{% link _team/aad-van-moorsel.markdown %}"><footer>Aad Van Moorsel</footer></a>
            </blockquote>
            <!-- End of Testimonial-->

            <!--User Testimonial-->
            <blockquote class="col-3 testimonial classic">
                <a href="{% link _team/karen-elliot.markdown %}"><img src="{{ "/assets/images/user-images/karen-elliot.jpg" | relative_url }}" alt="Karen Elliot"/></a>
                <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</q>
                <a href="{% link _team/karen-elliot.markdown %}"><footer>Karen Elliot</footer></a>
            </blockquote>
            <!-- End of Testimonial-->

            <!--User Testimonial-->
            <blockquote class="col-3 testimonial classic">
                <a href="{% link _team/kovila-coopamootoo.markdown %}"><img src="{{ "/assets/images/user-images/kovila-coopamootoo.jpg" | relative_url }}" alt="Kovila Coopamootoo"/></a>
                <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</q>
                <a href="{% link _team/kovila-coopamootoo.markdown %}"><footer>Kovila Coopamootoo</footer></a>
            </blockquote>
            <!-- End of Testimonial--> 

            <!--User Testimonial-->
            <blockquote class="col-3 testimonial classic">
                <a href="{% link _team/tasos-spiliotopoulos.markdown %}"><img src="{{ "/assets/images/user-images/tasos-spiliotopoulos.jpg" | relative_url }}" alt="Tasos Spiliotopoulos"/></a>
                <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</q>
                <a href="{% link _team/tasos-spiliotopoulos.markdown %}"><footer>Tasos Spiliotopoulos</footer></a>
            </blockquote>
            <!-- End of Testimonial-->   

            <!--User Testimonial-->
            <blockquote class="col-3 testimonial classic">
                <a href="{% link _team/magdalene-ng.markdown %}"><img src="{{ "/assets/images/user-images/magdalene-ng.jpg" | relative_url }}" alt="Magdalene Ng"/></a>
                <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</q>
                <a href="{% link _team/magdalene-ng.markdown %}"><footer>Magdalene Ng</footer></a>
            </blockquote>
            <!-- End of Testimonial-->  

            <!--User Testimonial-->
            <blockquote class="col-3 testimonial classic">
                <a href="{% link _team/dave-horsfall.markdown %}"><img src="{{ "/assets/images/user-images/dave-horsfall.jpg" | relative_url }}" alt="Dave Horsfall"/></a>
                <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</q>
                <a href="{% link _team/dave-horsfall.markdown %}"><footer>Dave Horsfall</footer></a>
            </blockquote>
            <!-- End of Testimonial-->                                 
        </div>
    </aside>
    <!--End of Team-->
    <!--Partners-->
    <section id="partners" class="secondary-color scrollto clearfix">
        <div class="row clearfix">
            <div class="col-3">
                <div class="section-heading">
                    <h3>PARTNERS</h3>
                    <h2 class="section-title">We collaborate with   </h2>
                    <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam!</p>
                </div>
            </div>
            <div class="col-2-3">
                <a href="https://www.ncl.ac.uk/" class="col-3">
                    <img src="{{ "/assets/images/company-images/company-logo1.png" | relative_url }}" alt="Newcastle University"/>
                    <div class="partner-overlay"><span>Newcastle University</span></div>
                </a>
                <a href="https://www.atombank.co.uk/" class="col-3">
                    <img src="{{ "/assets/images/company-images/company-logo2.png" | relative_url }}" alt="Atom Bank"/>
                    <div class="partner-overlay"><span>Atom Bank</span></div>
                </a>
                <a href="https://www.turing.ac.uk/" class="col-3">
                    <img src="{{ "/assets/images/company-images/company-logo3.png" | relative_url }}" alt="The Alan Turing Institute"/>
                    <div class="partner-overlay"><span>The Alan Turing Institute</span></div>
                </a>
            </div>
        </div>
    </section>
    <!--End of Partners-->
</main>
<!--End Main Content Area-->
