---
layout: default
---
<main id="content">
    <section id="projects" class="clearfix">
        <div class="row">
            <div class="col-1">
                <div class="section-heading">
                    <h3>{{ page.category }}</h3>
                    <h2 class="section-title">{{ page.title }}</h2>
                    {{ content }}
                </div>
            </div>
        </div>

        {% for project in site.projects %}
        <div class="row clearfix no-padding-bottom no-padding-top">

            <div class="col-4 hide-on-mobile"></div>

            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                <div class="icon">
                    <i class="fa {{ project.icon }} fa-2x"></i>
                </div>
                <div class="icon-block-description">
                    <a href="{{ project.url | relative_url }}">
                    <h4>{{ project.title }}</h4></a>
                    <p>{% for a in project.authors %}
                           {% assign lenmin1 = forloop.length | minus: 1 %}
                           {{a}}{% if forloop.index < lenmin1 %},{% elsif forloop.index == lenmin1 %} and {% endif %}
                        {% endfor %}
                        | <em>{{ project.date | date: "%B %Y" }}</em></p>
                </div>
                <p>{{ project.excerpt }}</p>
                <a href="{{ project.url | relative_url }}" class="button">
                    View Project Details
                </a>
            </div>
        </div>
        {% endfor %}
    </section>
</main>

