---
layout: default
---
<main id="content">
    <section id="toolkit" class="clearfix">
        <div class="row clearfix">
            <div class="col-2">
                <div class="section-heading">
                    <h3>{{ page.category }}</h3>
                    <h2 class="section-title">{{ page.title }}</h2>
                    {{ content }}
                </div>
            </div>
            <div class="col-2 hide-on-mobile">
                <img src="../assets/images/banner-images/banner-image.webp"
                     alt="Thinker logo"
                     style="width: 465px; height: 658px; object-fit: cover; object-position: 80% 0;"
                />
            </div>
        </div>

        {% for tkpage in site.toolkit %}
        <div class="row clearfix no-padding-bottom no-padding-top">

            <div class="col-4 hide-on-mobile"></div>

            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                <div class="icon">
                    <i class="fa {{ tkpage.icon }} fa-2x"></i>
                </div>
                <div class="icon-block-description">
                    <a href="{{ tkpage.url | relative_url }}">
                    <h4>{{ tkpage.title }}</h4></a>
                    <p>{% for a in tkpage.authors %}
                           {% assign lenmin1 = forloop.length | minus: 1 %}
                           {{a}}{% if forloop.index < lenmin1 %},{% elsif forloop.index == lenmin1 %} and {% endif %}
                        {% endfor %}
                        | <em>{{ tkpage.date | date: "%B %Y" }}</em></p>
                </div>
                <p>{{ tkpage.excerpt }}</p>
                <a href="{{ tkpage.url | relative_url }}" class="button">
                    View Project Details
                </a>
            </div>
        </div>
        {% endfor %}
    </section>
</main>

